html{
    height: 100%;
    font-size: 10px;
}
body{
    height: 100%;
}
.full-screen-height{
    height: 100%;
}
.grid{
    display: grid;
}
.place-center{
    place-content: center;
}

.input-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 0 0;
}

.button-container{
    justify-content: center;
}

.input-container input{
    margin: 0 0 0 1em;
    padding: 0.25em;
    border: 0.1em solid #3a3a3a7e;
    border-radius: 0.25em;
}

#list{
    list-style-type: none;
    border: 0.1em solid #f0f0f0;
    margin-top: 1em;
    padding: 1em 1em 0 1em;
    height: 25em;
    overflow-y: scroll;
    scrollbar-width: 10px;
    scrollbar-color: #414141;
}

#list::-webkit-scrollbar{
    width: 10px;
    background-color: #e6e6e6;
    
}

#list::-webkit-scrollbar-thumb{
    background-color: #414141;
}

#list li{
    background-color: #414141;
    padding: 1em;
    color: #e6e6e6;
    margin-bottom: 1em;
}
